html {
  background-image: linear-gradient(45deg, blue, yellow);
  background-repeat: no-repeat;
  height: calc(100%);
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(38, 39, 72);
}

h1,
h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

input {
  width: 20%;
  display: block;
  margin: 0 auto;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
}

p {
  text-align: center;
  font-weight: 900;
}

#pass-button {
  width: 10%;
  display: block;
  margin: 0 auto;
  background-color: aqua;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  margin-bottom: 0.5em;
}

#reset-button {
  width: 10%;
  display: block;
  margin: 0 auto;
  background-color: rgb(250, 23, 42);
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  margin-bottom: 0.5em;
}
